p{
	cursor:default;
}

#d3-container{
	position:relative;
	max-width:1140px;
}
	#input-container{
		position:relative;
		height:75px;
	}
	.button-div{
		position:absolute;
		height:50px;
		top:0px;
		margin:0px;
		padding:0px;
	}
	#age-div{
		left:10%;
	}
	#interest-div{
		right:28%;
	}
		 .button-div-inner{
		 	position:relative;
		 	height:100%;
		 }
			.button-div button{
				margin: 0px;
				display: inline-block;
				box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
				color: #FFFFFF;

				padding: 6px 20px 6px;
				border-radius: 2px;
				background: rgb(66, 146, 198);
				font-size:18px;
				font-weight:600;
				opacity:0.9;
				cursor:pointer;
			}
			.button-div button:focus {
				outline:0;
			}
			.button-div button.selected{
				background-color:orange;
				opacity:0.95;
			}
			.button-div p{
				text-align:center;
				font-size:20px;
				margin:5px;
				padding:0px;
			}

	#search-query{
		position:absolute;
		top:33px;
		right:0%;
		height:30px;
		width:200px;
		font-size:18px;
	}
	
	#variable-select{
		position:absolute;
		left:5%;
		top:84%;
	}

	#chart-container{
		position:absolute;
		height:220px;
		left:32%;
		top:75%;
		width:55%;
	}
		#chart-container-inner{
			position:relative;
			height:100%;
			height:100%;
		}
			#chart-container #column-info{
				position:absolute;
				top:-50px;
				width:100%;
				text-align:center;
				font-size:20px;
				font-weight:bold;
				color:grey;
				opacity:0.95;
			}
			#column-info span{
				font-size: 16px;
			}
			#x-axis{
				position:absolute;
				width:99%;
				left:1%;
				height:1px;
				border-bottom:1px solid grey;
				bottom:32%;
			}
			#color-legend{
				position:absolute;
				bottom:32%;
				left:0%;
				width:8px;
				height:68%;
				opacity:0.8;
				border-right:1px solid black;
			}
				#color-legend div{
					margin:0px;
					padding:0px;
					height:10%;
					width:100%;
				}
			#top-axis-label{
				position:absolute;
				bottom:195px;
				font-size:10px;
				opacity:0.7;
				left:17%;
			}
			#bottom-axis-label{
				position:absolute;
				bottom:58px;
				font-size:10px;
				opacity:0.7;
				left:18%;
			}
			#chart-container .column-container{
				width:8%;
				height:68%;
				position:absolute;
				bottom:32%;
			}
				#chart-container .column-container-inner{
					position:relative;
					width:100%;
					height:100%;
				}
					#chart-container .column-container .column-div{
						position:absolute;
						width:50%;
						min-width:22px;
						height:0px;
						border:1px solid black;
						bottom:0px;
						left:12px;
						opacity:0.8;
						border-bottom:none;
						cursor:pointer;red
					}
					#chart-container .column-container .column-label{
						font-size:12px;
						padding:0px;
						margin:0px;
						position:absolute;
						color:grey;
						bottom:-8%;
						width:50px;
						text-align:center;
						line-height:12px;
					}
						#chart-container .column-container.selected .column-label{
							color:orange;
							font-weight:bold;
						}
					#chart-container .column-container img{
						position:absolute;
						width:10px;
						height:10px;
						left:20px;
						bottom:0%;
						display:block !important;
					}

				#global-legend{
					position:absolute;
					left:105%;
					bottom:40%;
					width:100px;
					height:50px;
				}
					#global-legend-inner{
						position:relative;
					}
						#global-legend-icon{
							position:absolute;
							top:0px;
							left:0px;
							width:10px;
							height:10px;
						}
						#global-legend-label{
							position:absolute;
							top:-2px;
							left:15px;
							width:100px;
							font-size:12px;
							line-height:12px;
							color:grey;
							opacity:0.8;
							margin:0px;
							padding:0px;
						}

				#chart-container .heading-label{
					color:grey;
					font-size:12px;
					position:absolute;
					font-weight:bold;
				}
				#type-label{
					left:37%;
					bottom:15%;
				}
				#participation-label{
					left:74%;
					bottom:15%;
				}

				#satisfaction-container{
					left:3%;
				}

				#voice-container{
					left:18%;
				}

				#demo-container{
					left:33%;
				}
				#other-container{
					left:45%;
				}

				#campaign-container{
					left:62%;
				}
				#protest-container{
					left:73%;
				}
				#party-container{
					left:83%;
				}
				#boycott-container{
					left:93%;
				}

#d3-container svg path.selected{
	stroke-width:1 !important;
}

#d3-container svg path{
	cursor:pointer;
}

.names {
fill: none;
stroke: #fff;
stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
line-height: 1.5;
font-weight: 400;
font-family:"avenir next", Arial, sans-serif;
padding: 6px;
background: rgba(0, 0, 0, 0.6);
color: #FFA500;
border-radius: 1px;
pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 8px;
width: 100%;
line-height: 1.5;
color: rgba(0, 0, 0, 0.6);
position: absolute;
pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
content: "\25BC";
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
content: "\25C0";
margin: -4px 0 0 0;
top: 50%;
left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
content: "\25B2";
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
content: "\25B6";
margin: -4px 0 0 -1px;
top: 50%;
left: 100%;
}

.details{
color:white;
}


/*stack the buttons and search box vertically at a certain point*/

@media screen and (max-width: 890px) {
	/* start of large tablet styles */
	#input-container{
		height:150px;
	}
	.button-div{
		width:400px;
		left:10%;
	}
	#age-div{
		top:0px;
	}
	#interest-div{
		top:70px;
	}

	#chart-container{
		position:relative;
		height:50%;
		left:10%;
		top:0%;
		width:80%;
	}
	#global-legend{
		left:70%;
		bottom:90%;
	}
	#chart-container #column-info{
		top:75%;
	}
}

@media screen and (max-width: 720px) {
	#input-container{
		height:190px;
	}
		.button-div{
			width:90%;
			max-width:600px;
			left:5%;
		}
		#age-div{
			left:5%;
		}
		#interest-div{
			right:5%;
		}
			.button-div button{
				display: inline-block;
				box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
				color: #FFFFFF;
				width:24%;
				font-size:16px;
				padding:0px;
				margin:0% 1%;
				height:35px;
			}

			.button-div button[name="0"]{
				margin-left:12%;
			}

		#search-query{
			position:absolute;
			top:150px;
			left:25%;
			height:30px;
			width:50%;
			font-size:18px;
		}

	#chart-container{
		height:70%;
		width:94%;
		left:3%;
	}
	#global-legend-label{
		width:120px;
		font-size:10px;
	}
	#chart-container .column-container .column-label{
		font-size:11px;
	}
}

@media screen and (max-width: 400px){
	.button-div p{
		font-size:18px;
	}

	#chart-container{
		height:80%;
		width:98%;
		left:1%;
	}
	#chart-container .heading-label{
		font-size:11px;
	}
	#type-label{
		left:37%;
		bottom:13%;
	}
	#participation-label{
		left:74%;
		bottom:13%;
	}
	#chart-container .column-container .column-label{
		font-size:10px;
	}
}