p{
	cursor:default;
}

#d3-container{
	position:relative;
	width:1000px;
	height:800px;
	padding:0px;
}
	#age-div{
		left:10%;
	}
	#interest-div{
		right:28%;
	}
	.button-div{
		position:absolute;
		height:50px;
		top:0px;
		margin:0px;
		padding:0px;
	}
		.button-div button{
			margin: 0px;
			display: inline-block;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
			color: #FFFFFF;
			padding: 6px 20px 6px;
			border-radius: 2px;
			background: rgb(66, 146, 198);
			font-size:18px;
			font-weight:600;
			opacity:0.9;
			cursor:pointer;
		}
		.button-div button:focus {
			outline:0;
		}
		.button-div button.selected{
			background-color:orange;
			opacity:0.95;
		}
		.button-div p{
			text-align:center;
			font-size:20px;
			margin:5px;
		}

	#search-query{
		position:absolute;
		top:33px;
		right:0%;
		height:30px;
		width:200px;
		font-size:18px;
	}
	
	#variable-select{
		position:absolute;
		left:5%;
		top:84%;
	}

	#chart-container{
		position:relative;
		height:220px;
		left:400px;
		top:-70px;
		width:510px;
	}

		#chart-container #column-info{
			position:absolute;
			top:-50px;
			width:100%;
			text-align:center;
			font-size:20px;
			font-weight:bold;
			color:grey;
			opacity:0.95;
		}
		#column-info span{
			font-size: 16px;
		}
		#x-axis{
			position:absolute;
			width:500px;
			left:8px;
			height:1px;
			border-bottom:1px solid grey;
			bottom:70px;
		}
		#color-legend{
			position:absolute;
			bottom:70px;
			left:0px;
			width:8px;
			height:150px;
			opacity:0.8;
			border-right:1px solid black;
		}
			#color-legend div{
				margin:0px;
				padding:0px;
				height:15px;
				width:8px;
			}
		#top-axis-label{
			position:absolute;
			bottom:195px;
			font-size:10px;
			opacity:0.7;
			left:17%;
		}
		#bottom-axis-label{
			position:absolute;
			bottom:58px;
			font-size:10px;
			opacity:0.7;
			left:18%;
		}
		#chart-container .column-container{
			display:inline-block;
			width:45px;
			height:110px;
			position:relative;
			top:70px;
			margin:0px;
		}
			#chart-container .column-container .column-div{
				position:absolute;
				width:25px;
				height:0px;
				border:1px solid black;
				bottom:30px;
				left:12px;
				opacity:0.8;
				border-bottom:none;
				cursor:pointer;
				margin:0px;
			}
			#chart-container .column-container .column-label{
				font-size:12px;
				padding:0px;
				margin:0px;
				position:absolute;
				color:grey;
				top:80px;
				width:50px;
				text-align:center;
				line-height:12px;
			}
				#chart-container .column-container.selected .column-label{
					color:orange;
					font-weight:bold;
				}
			#chart-container .column-container img{
				position:absolute;
				width:10px;
				height:10px;
				left:20px;
				bottom:150px;
				display:block !important;
				/*opacity:0.8;*/
			}

		#global-legend{
			position:relative;
			left:510px;
			bottom:30px;
			width:100px;
			height:50px;
		}
			#global-legend-icon{
				position:absolute;
				top:0px;
				left:0px;
				width:10px;
				height:10px;
			}
			#global-legend-label{
				position:absolute;
				top:-2px;
				left:15px;
				width:200px;
				font-size:12px;
				line-height:12px;
				color:grey;
				opacity:0.8;
				margin:0px;
				padding:0px;
			}

		#chart-container .heading-label{
			color:grey;
			font-size:12px;
			position:absolute;
			font-weight:bold;
		}
		#type-label{
			left:205px;
			bottom:26px;
		}
		#participation-label{
			left:365px;
			bottom:26px;
		}

		#satisfaction-container{
			left:30px;
		}

		#voice-container{
			left:60px;
		}

		#demo-container{
			left:100px;
		}
		#other-container{
			left:95px;
		}

		#campaign-container{
			left:120px;
		}
		#protest-container{
			left:115px;
		}
		#party-container{
			left:110px;
		}
		#boycott-container{
			left:105px;
		}

#d3-container svg path.selected{
	stroke-width:1 !important;
}

#d3-container svg path{
	cursor:pointer;
}

.names {
fill: none;
stroke: #fff;
stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
line-height: 1.5;
font-weight: 400;
font-family:"avenir next", Arial, sans-serif;
padding: 6px;
background: rgba(0, 0, 0, 0.6);
color: #FFA500;
border-radius: 1px;
pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 8px;
width: 100%;
line-height: 1.5;
color: rgba(0, 0, 0, 0.6);
position: absolute;
pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
content: "\25BC";
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
content: "\25C0";
margin: -4px 0 0 0;
top: 50%;
left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
content: "\25B2";
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
content: "\25B6";
margin: -4px 0 0 -1px;
top: 50%;
left: 100%;
}

.details{
color:white;
}